logs
project/project
project/target
target
tmp
.history
dist
/.idea
/*.iml
/out
/.idea_modules
/.classpath
/.project
/.settings
.cache
.target/
bin/
.DS_Store

/protobufs/src/main/scala/protobuf/
/protobufs/src/main/java/protobuf/
/log.dir_IS_UNDEFINED/

.ensime
.ensime_cache/
classes/
